{% extends "finnito.theme.adventurelog::layouts.default" %}
{% block content %}
    <h2>Places</h2>
    <ul>
    {% for place in places %}
        <li><a href="/places/{{ place.place_slug }}">{{ place.place }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
<script>
var xhr = new XMLHttpRequest();
xhr.open("GET", "/api/search/?q=", true);
xhr.setRequestHeader("Content-Type", "application/json");
xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
        var response = JSON.parse(xhr.responseText);
        for (const [key, place] of Object.entries(response)) {
            L.circleMarker([place.latitude, place.longitude], markerOptions)
            .bindPopup(
                "<p><a href='/places/" + place.place_slug + "/" + place.name_slug + "/'>"
                + place.name + " - " + place.place
                +"<br>"
                + place.latitude + ", " + place.longitude
                +"</a><br>"
                + "<button onclick='zoomTo(" + place.latitude + ", " + place.longitude + ")'>Zoom To</button>"
                + "</p>")
            .addTo(places);
            HutMap.fitBounds(places.getBounds());
        }
    }
};
xhr.send();
</script>
{% endblock %}
