{% extends "finnito.theme.adventurelog::layouts.default" %}
{% block content %}
    <h2>Places</h2>
    <ul>
    {% for place in places %}
        <li><a href="/places/{{ place.place_slug }}">{{ place.place }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
