.winnie-the-pooh {
  position: absolute;
  top: -2000000px;
  left: -2000000px;
}

html {
  font-size: 16px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  border-top: 5px solid #497934;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.618;
  max-width: 38em;
  overflow-x: hidden;
  margin: auto;
  color: #4a4a4a;
  background-color: rgba(245, 251, 246, 0.25);
  padding: 13px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 700;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

li h4 {
  margin-bottom: 0;
}

small,
sub,
sup {
  font-size: 75%;
}

.desktop {
  display: none;
}

.mobile {
  display: inherit;
}

hr {
  border: none;
  background-color: #2c3e50;
  height: 2px;
}

a {
  text-decoration: none;
  color: #497934;
  transition: all 150ms;
}

a:hover {
  color: #eb4d4b;
}

ul {
  margin-top: 0;
}

#map {
  background-color: #C9E2F1;
  height: 350px;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
}

blockquote {
  margin: 1rem 0;
  padding: 0.5rem;
  border-left: 4px solid #6ab04c;
  background-color: #f1f1f1;
  border-radius: 0.25rem;
}

input,
textarea {
  width: 100%;
}

textarea {
  width: 100%;
}

form:not([role="search"]) {
  padding: 0.5rem;
  background-color: #ecf0f1;
  border-radius: 0.25rem;
}

form[role="search"] .input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

form[role="search"] .input-group button,
form[role="search"] .input-group input {
  border-radius: 0;
  margin: 0;
  font-size: 1rem;
}

form[role="search"] .input-group input {
  flex-grow: 1;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid #bdc3c7;
}

form[role="search"] .input-group button {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  padding: 5px 10px;
  background-color: #497934;
  color: #f9f9f9;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: all 150ms;
}

.button:hover,
.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled {
  color: #f9f9f9;
  background-color: #6ab04c;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

form:not([role="search"]) button:disabled {
  background-color: #bdc3c7;
}

textarea,
select,
input[type] {
  color: #4a4a4a;
  padding: 6px 10px;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid #4a4a4a;
  font-size: 1rem;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #2c8898;
}

label,
legend,
fieldset {
  display: block;
  font-weight: 600;
}

.field-group:not(:first-child) {
  margin-top: 0.5rem;
}

.flag,
.muted {
  color: darkgrey;
  font-size: 0.8rem;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  transition: all 150ms;
}

.flag {
  opacity: 0.5;
}

.flag:active,
.flag:hover {
  color: #ff7979;
  opacity: 1;
}

.heading-anchor {
  text-decoration: none;
  margin: 0 0.5rem 0 0;
}

:target,
ul.logs li:target {
  background-color: #f6e58d;
}

p a {
  font-weight: 600;
  text-decoration: underline;
}

.alert {
  margin: 1rem 0;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.alert p {
  margin: 0;
}

.alert.success {
  background-color: #badc58;
}

.alert.info {
  background-color: #f6e58d;
}

.alert.warning {
  background-color: #ffbe76;
}

.alert.danger {
  background-color: #ff7979;
}

input.valid {
  border: 1px solid #badc58;
}

input.invalid {
  border: 1px solid #ff7979;
}

form:not([role="search"]) button {
  width: 100%;
  padding: 0.5rem;
  background-color: #497934;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

ul.menu {
  list-style: none;
  text-align: right;
}

ul.menu a {
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

ul.logs a.heading-anchor {
  display: inline;
}

ul.results {
  padding: 0;
  list-style: none;
}

ul.results li:not(:last-of-type) {
  border-bottom: 1px solid #e1e7e9;
}

ul.results li a {
  display: block;
}

span.required {
  color: #e74c3c;
}

ul.logs {
  list-style: none;
  padding: 0;
}

ul.logs li {
  background-color: #ecf0f1;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: 4px solid #f39c12;
  padding: 0.5rem;
  margin: 1rem 0;
  transition: box-shadow 150ms;
}

ul.logs li:hover,
ul.logs li:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

ul.logs li span.strong {
  font-style: normal;
  font-weight: 600;
}

ul.logs li p:last-of-type {
  margin-bottom: 0;
  white-space: pre-line;
}

ul.logs li a {
  text-decoration: none;
  font-weight: normal;
  color: #4a4a4a;
  display: block;
}

.control-label + p.text-muted {
  color: #7f8c8d;
  font-size: 0.8rem;
  margin: -0.5rem 0 0 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.flex.center {
  align-items: center;
}

.flex .grow {
  flex-grow: 2;
}

.flex span {
  font-style: italic;
}

.flex h2 {
  margin-bottom: 0.5rem;
}

main h2 {
  margin-top: 1.5rem;
}

nav h1 {
  margin: 0;
}

input[type=checkbox].toggle {
  width: 75px;
  height: 34px;
  z-index: 99999999;
}

input[type=checkbox].toggle,
.hamburger {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  margin: 0;
  display: inline;
}

.hamburger {
  z-index: 9999999;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
}

.hamburger p {
  margin: 0 0 0 0.25rem;
  line-height: 1;
  font-weight: 500;
  display: none;
}

.hamburger span {
  height: 2px;
  border-radius: 2px;
  background-color: rgb(51, 51, 51);
  margin-bottom: 2px;
  display: block;
  transition: all 500ms;
  width: 10px;
}

.hamburger span:last-child {
  margin-bottom: 0;
}

.toggle {
  z-index: 9999999;
  opacity: 0;
}

.toggle:hover {
  cursor: pointer;
}

.toggle ~ .nav-wrapper {
  transform: translateX(150%);
}

.toggle:checked ~ .nav-wrapper {
  transform: translateX(0);
}

.toggle:checked ~ .hamburger span {
  transition: all 300ms;
}

.toggle:checked ~ .hamburger span:nth-child(1) {
  transform: translateY(5px) rotateZ(45deg);
}

.toggle:checked ~ .hamburger span:nth-child(2) {
  transform: translateX(50%);
  opacity: 0;
}

.toggle:checked ~ .hamburger span:nth-child(3) {
  transform: translateY(-3px) rotateZ(-45deg);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-wrapper {
  width: 100vw;
  position: absolute;
  left: -1.5rem;
  height: calc(100vh - 5rem);
  top: 5rem;
  transition: all 300ms;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: left;
  z-index: 999999;
  background-color: #f9f9f9;
}

.nav-wrapper ul {
  margin: 0.75rem 0 0 auto;
}

nav.mobile ul li {
  display: block;
  text-align: right;
  margin: 0.75rem 1rem;
}

header hr {
  margin-bottom: 1rem;
}

footer hr {
  margin-bottom: 1.5rem;
}

.icon {
  font-size: 2rem;
  background-color: white;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  line-height: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 0.75rem;
}

.icon.hut span {
  margin-left: -3px;
}

.icon.campsite span {
  margin-left: -1px;
}

.icon span {
  font-style: normal;
}

@media (min-width: 375px) {
  .hamburger p {
    display: block;
  }
}

@media (min-width: 550px) {
  .toggle ~ .nav-wrapper {
    transform: none;
  }

  input[type=checkbox].toggle,
  .hamburger {
    display: none;
  }

  .desktop {
    display: block;
  }

  .menu li {
    display: inline-block;
    margin: 0 0.25rem;
  }

  .menu li.mobile {
    display: none;
  }

  .nav-wrapper {
    position: relative;
    left: 0;
    transform: translateX(0);
    top: 0;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: transparent;
  }

  .mobile {
    display: none;
  }
}
