/* Sakura.css v1.3.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */
html {
  font-size: 16px; 
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.618;
  max-width: 38em;
  overflow-x: hidden;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

h1 {
  font-size: 2.35em; }

h2 {
  font-size: 2.00em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin-top: 0px; }

small, sub, sup {
  font-size: 75%; }

.desktop { display: none; }

.mobile { display: inherit; }


hr {
  border: none;
  background-color: #2c3e50;
  height: 2px; }

a {
  text-decoration: none;
  color: #497934; }
  a:hover {
    color: #eb4d4b;
    border-bottom: 1px solid v; }

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

li {
  margin-bottom: 0.4em; }

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 2px solid #6ab04c;
  /*margin-bottom: 2.5rem;*/
  background-color: #f1f1f1; }

blockquote p {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap; }

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre; }

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse; }

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1; }

/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a; 
  width: 100%; }
  input:focus, textarea:focus {
    border: 1px solid #2c8898; }

textarea {
  width: 100%; }

form:not([role="search"]) {
  padding: 0.5rem;
  background-color: #ecf0f1;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.16), 0 0 10px rgba(0,0,0,0.23);
}

form[role="search"] .input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

form[role="search"] .input-group button,
form[role="search"] .input-group input {
  border-radius: 0;
  margin: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

form[role="search"] .input-group input {
  flex-grow: 1;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  border-right: 1px solid transparent;
}

form[role="search"] .input-group button {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #6ab04c;
  color: #f9f9f9;
  border-radius: 0.25rem;
  border: 1px solid #6ab04c;
  cursor: pointer;
  box-sizing: border-box; }
  .button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: default;
    opacity: .5; }
  .button:hover, .button:focus:enabled, .button:hover:enabled, button:focus:enabled, button:hover:enabled, input[type="submit"]:focus:enabled, input[type="submit"]:hover:enabled, input[type="reset"]:focus:enabled, input[type="reset"]:hover:enabled, input[type="button"]:focus:enabled, input[type="button"]:hover:enabled {
    background-color: #6ab04c;
    color: #f9f9f9;}

textarea, select, input[type] {
  color: #4a4a4a;
  padding: 6px 10px;
  border-radius: 0.25rem;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: white;
  box-shadow: none;
  box-sizing: border-box; }
  textarea:focus, select:focus, input[type]:focus {
    border: 1px solid #2c8898;}

input[type="checkbox"]:focus {
  outline: 1px dotted #2c8898; }

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

/* Custom CSS
 * ================
 */
.heading-anchor { text-decoration: none; margin: 0 0.5rem 0 0;}

:target,
ul.logs li:target {
  background-color: #f9ca24;
}

p a {
  font-weight: 600;
  text-decoration: underline;
}

.alert {
  margin: 1rem 0;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.alert p { margin-bottom: 0; }

.alert.success { background-color: #badc58; }
.alert.info { background-color: #f6e58d; }
.alert.warning { background-color: #ffbe76; }
.alert.danger { background-color: #ff7979; }


form:not([role="search"]) button {
  margin: 1rem auto 0 auto;
  width: 100%;
  padding: 0.5rem;
  background-color: #6ab04c;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

ul.menu {
  list-style: none;
  text-align: right;
}

ul.menu a {
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

ul.results {
  padding: 0;
  list-style: none;
}

ul.results li:not(:last-of-type) {
  border-bottom: 1px solid #e1e7e9;
}

ul.results li a { display: block; }

span.required { color: #e74c3c; }

ul.logs {
  list-style: none;
  padding: 0;
}

ul.logs li {
  background-color: #ecf0f1;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: 4px solid #f39c12;
  padding: 0.5rem;
  margin: 1rem 0;
}

ul.logs li p.flex span:first-of-type {
  font-style: normal;
  font-weight: 600;
}

ul.logs li p:last-of-type {
  margin-bottom: 0;
  white-space: pre-wrap;
}

ul.logs li a {
  color: black;
}

.control-label {margin-top: 0.5rem;}

.control-label + p.text-muted {
  color: #7f8c8d;
  font-size: 0.8rem;
  margin: -0.5rem 0 0 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.flex span { font-style: italic; }

.flex h2 { margin-bottom: 0.5rem; }

main h2 {margin-top: 1.5rem;}

nav h1 {margin: 0;}

input[type=checkbox].toggle {
  width: 75px;
  height: 34px;
  z-index: 99999999;
}

input[type=checkbox].toggle,
.hamburger {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    margin: 0;
    display: inline;
}

.hamburger {
    z-index: 9999999;
    box-shadow: 0 0px 15px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
}

.hamburger p {
  margin: 0 0 0 0.25rem;
  line-height: 1;
  font-weight: 500;
  display: none;
}

.hamburger span {
    height: 2px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    margin-bottom: 2px;
    display: block;
    transition: all 500ms;
    width: 10px;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.toggle {
    z-index: 9999999;
    opacity: 0;
}

.toggle:hover {
    cursor: pointer;
}

.toggle ~ .nav-wrapper {
    transform: translateX(150%);
}

.toggle:checked ~ .nav-wrapper {
    transform: translateX(0);
}

.toggle:checked ~ .hamburger span {
    transition: all 300ms;
}

.toggle:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(5px) rotateZ(45deg);
}

.toggle:checked ~ .hamburger span:nth-child(2) {
    transform: translateX(50%);
    opacity: 0;
}

.toggle:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-3px) rotateZ(-45deg)
}

nav { position: relative; display: flex; justify-content: space-between; flex-wrap: wrap;}

.nav-wrapper {
  width: 100vw;
  position: absolute;
  left: -1.5rem;
  height: calc(100vh - 5rem);
  top: 5rem;
  transition: all 300ms;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: left;
  z-index: 999999;
  background-color: #f9f9f9;
}

.nav-wrapper ul {
  margin: 0.75rem 0 0 auto;
}

nav.mobile ul li {
  display: block;
  text-align: right;
  margin: 0.75rem 1rem;
}

header hr {
  margin-bottom: 1rem;
}

footer hr {
  margin-bottom: 1.5rem;
}


@media (min-width: 375px) {
  .hamburger p { display: block; }
}

@media (min-width: 550px) {
  .toggle ~ .nav-wrapper {
    transform: none;
  }

  input[type=checkbox].toggle,
  .hamburger {
    display: none;
  }

  .desktop { display: block; }

  .menu li { display: inline-block; margin: 0 0.25rem; }
  .menu li.mobile { display: none; }

  .nav-wrapper {
    position: relative;
    left: 0;
    transform: translateX(0);
    /*height: auto;*/
    top: 0;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: calc(100vh - 7rem);*/
    height: auto;
    background-color: transparent;
  }
  .mobile {
    display: none;
  }
}