<footer>
    <hr/>
    <blockquote>You will never be be required to pay for this website, but if you find it of use in planning your adventures, please consider sponsoring me through GitHub!<br><br><iframe src="https://github.com/sponsors/finnito/button" title="Sponsor finnito" height="35" width="107" style="border: 0;"></iframe></blockquote>
      <a title="View on Github" href="https://github.com/Finnito/Adventure-Log">Github Repository</a>
      |
      <a title="Finn LeSueur" href="https://finn.lesueur.nz">Site by Finn LeSueur</a>
      |
      <a title="Email Me" href="mailto:finn@lesueur.nz">Email Me</a>
</footer>
