<nav>
  <div>
    <h1>
        <a href="{{ url('/') }}">
        {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
        </a>
    </h1>
    <small>{{ setting_value('streams::description', config_get('streams::distribution.description')) }}</small>
  </div>
  <input class="toggle mobile" type="checkbox" title="Toggle mobile menu"/>
  <div class="hamburger mobile">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p>Menu</p>
  </div>
  <div class="nav-wrapper">
    <div>
      <ul class="menu">
        <li>
          <a title="Navigate to Safety" href="/safety" >Safety</a>
        </li>
        <li class="mobile">
          <a title="Navigate to About" href="/about" >About</a>
        </li>
        <li>
          <a title="Navigate to Feedback" href="/feedback" >Feedback</a>
        </li>
        <li class="mobile">
          <a title="Navigate to Technology" href="/technology" >Technology</a>
        </li>
        <li class="mobile">
          <a title="Navigate to GitHub Repository" href="https://github.com/finnito/adventure-log">GitHub Repository</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr/>

<form action="/places/search" method="POST" role="search">
    {{ csrf_field()|raw }}
    <div class="input-group">
        <input type="text" class="form-control" name="q"
            placeholder="Seach for a hut" autofocus>
            <button type="submit" class="btn btn-default">Search</button>
    </div>
</form>
